.navbar {
  position: fixed;
  top: 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  z-index: 1;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.logo {
  padding: 1rem 2rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-links {
  padding: 0.5rem 2rem;
  list-style: none;
  display: flex;
  gap: 1.5rem;
  padding-left: 0.1rem;
}

.nav-links li {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-links button {
  background: none;
  border: none;
  cursor: pointer;
  transition: color 0.3s ease, font-weight 0.3s ease;
}

.nav-links .section-nav {
  color: white;
  text-transform: uppercase;
  font-size: 1rem;
}

.main-nav {
  color: #ffcc00;
  font-size: 2rem;
  text-transform: none;
  background: none;
  border: none;
  cursor: pointer;
  transition: color 0.3s ease, font-weight 0.3s ease;
}

.home-nav {
  padding: 1rem 2rem;
}

.nav-links button:hover {
  color: #ffcc00;
}

.nav-links .section-nav.active {
  color: #ffcc00;
  font-weight: bold;
  border-bottom: 2px solid #ffcc00;
}

.main-nav.active {
  color: #ffcc00;
  border-bottom: 2px solid #ffcc00;
}

.burger-menu {
  display: none;
  background: none;
  border: none;
  font-size: 2rem;
  color: #ffcc00;
  cursor: pointer;
  position: fixed;
  right: 10px;
}

@media (max-width: 768px) {
  .burger-menu {
    display: block;
  }

  .nav-links {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    flex-direction: column;
    background-color: #333;
    width: 100%;
    padding: 1rem 0;
    gap: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .nav-links.open {
    display: flex;
  }

  .nav-links li {
    justify-content: center;
  }

  .nav-links .section-nav,
  .nav-links .main-nav {
    font-size: 1.2rem;
  }

  .nav-links button:hover {
    color: #ffcc00;
  }
}
