.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main {
  background-color: #282c34;
  scroll-behavior: smooth;
  color: #ffcc00;
  font-size: calc(10px + 2vmin);
}

.section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  border-bottom: 1px solid #ddd;
  scroll-snap-align: start;
}
